= simple_form_for object, as: :invitation, url: invitations_path(@report) do |f|
  = f.input :comment, as: :text

  = f.input :recipients, as: :text, input_html: { value: object.recipients&.join(', ') }, error: "Invalid email addresses: #{object.invalid_recipients.join(', ')}"

  = f.submit 'Notify Recipients'

%footer
  = page.view_report_link